/* Header.module.css */
.header {
    width: 100%;
    background-color: #f5f5f5;
  }
  
  .text {
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  
  .loginButton {
    margin-left: auto;
    border-color:darkgray;
    background-color: 	#F0F8FF;
  }
  .logoutButton {
    margin-left: auto;
    border-color:darkgray;
    background-color: 	#F0F8FF;
  }
  .loginButton:hover{
    font-size: 15px;
  }
