.page_container {
  display: flex;
  flex-direction: column;
  min-height: 175vh;
}

.header {
  flex-shrink: 0;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.content {
  flex: 1;
  overflow-y: auto; /* コンテンツ部分をスクロール可能に */
  padding: 20px;
}

.footer {
  flex-shrink: 0;
}

.result_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result_container01 {
  display: flex;
  align-items: center
}

.result_container h2 {
  margin-right: 10px;
}

.result_container p {
  font-weight: bold;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  margin-bottom: 10px;
}

.text01 {
  color: red;
}

@media screen and (max-width: 932px) {
  .page_container {
    min-height: 110vh;
  }
}