.historyContainer {
    margin: 20px auto;
    max-width: 60%;
    padding: 16px;
}
.main{
    margin-bottom: 5%;
}


.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    gap: 16px;
    margin-bottom: 16px;
}


.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}


.details {
    display: flex;
    flex-direction: column;
}


.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}


.info {
    font-size: 14px;
    color: #555;
    margin: 4px 0;
}


@media (max-width: 768px) {
    .historyContainer {
        padding: 10px;
        max-width: 100%;
    }

    .card {
        flex-direction: row;
        align-items: center;
        gap: 12px;  
    }

    .image {
        width: 80px; 
        height: 80px;
        margin-right: 12px;
    }

    .details {
        align-items: flex-start;
    }

    .title {
        font-size: 16px;
    }

    .info {
        font-size: 12px; 
    }
}


@media (max-width: 480px) {
    .card {
        padding: 12px;
        gap: 8px;  
    }

    .title {
        font-size: 14px; 
    }

    .info {
        font-size: 10px;
    }

    .image {
        width: 70px;  
        height: 70px;
    }
    .main {
        margin-bottom:15%;
    }
}
