.rankingContainer {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
  }
  
  .rankingTitle {
    font-size: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: bisque;
    border-radius: 5px;
    width: 100%;
  }
  
  .rankingList {
    list-style: none;
    padding: 0;
    max-height: 300px; 
    overflow-y: auto;
    padding-top: 10px;
  }
  
  .rankingItem {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    background-color: #fff;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: flex-end;
    text-align: justify;
  }

  .rankingItem:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #a8d4fa;
  }
  
  .rankingPosition {
    font-weight: bold;
    color: #333;
  }
  
  .rankingName {
    flex-grow: 1;
    margin-left: 8px;
  }
  
  .rankingCount {
    color: #666;
  }  

  .gold {
    color: gold;
  }
  .silver {
    color: silver;
  }
  .bronze {
    color: saddlebrown;
  }
  
  /* スマホ用のハンバーガーメニューアイコン */
.hamburgerIcon {
  position: fixed;
  top: 16px;
  left: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* ハンバーガーメニューの内容 */
.menuContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  padding: 20px;
  display: none;
}

/* 通常のランキングリスト */
.desktopContent {
  display: block;
  
}

/* スマホサイズ (768px以下) */
@media (max-width: 768px) {
  .rankingList {
    list-style: none;
    padding: 0;
    max-height: 100%; 
    padding-top: 10px;
  }
  .hamburgerIcon {
    display: flex;
  }

  .menuContent {
    display: block;
    background-color: #ffb659;
  }

  .desktopContent {
    display: none;
  }
  .rankingItem {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}