/* MapComponent.module.css */
.mapContainer {
    height: 500px;
    width: 100%;
    z-index: 1; /* Ensure the map stays at the bottom */
  }
  
  .markerIcon {
    width: 41px;
    height: 41px;
  }
  
  .markerShadow {
    width: 41px;
    height: 41px;
  }
  