/* Styling for the container of the entire component */
.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: 20px;
  margin-right: 20px;
}
.search_options_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e6dede;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    
  }
  
  /* Styling for the dropdowns */
  .select_dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  /* Focus state for the select elements */
  .select_dropdown:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  /* Button styling */
  .search_button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 18px;
  }
  
  /* Button hover and disabled state */
  .search_button:hover {
    background-color: #45a049;
  }
  
  .search_button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  /* Footer Styling */
  .footer {
    margin-top: 30px;
    text-align: center;
    color: #888;
  }
  
  .footer a {
    text-decoration: none;
    color: #4CAF50;
  }
  